$body-bg: #0d084d;
$main-color: #ff0000;
$txt-color: #fff;

$white: #fff;
$black: #000;
$main-color: #0d084d;
$main-white: #fff;
$green-color: #1dbf73;
$text_color: #545480;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$header-height: 8rem;
$border-bottom: 1px solid #e4e5e7;
$border-bottom-active: 3px solid #1dbf73;
$header-shrink-height: 5rem;
$border-radius: 4px;
// Responsive
$mobile-width: 600px;
$tablet-width: 1024px;
$font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;